.ProjectTech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ProjectTech p {
    margin: 0;
    font-size: 16px;
    background-color: #3D3D46;
    padding: 5px;
    border-radius: 10px;
}

.ProjectLinks {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ProjectLinks a {
    background-color: #663e7e;
    padding: 10px;
    border-radius: 15px;
}