#root {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("Images/PortfoiloBackground.png");
  background-attachment: fixed;
  display: flex;
}

p {
  margin-left: 15px;
  font-size: 22px;
}

button {
  font-family: "Montserrat", sans-serif;
}

.PageTitle {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  color: white;
}

#miniWebContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 80%;
  height: 70%;
  border: solid;
  border-color: #1c1c20;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: scroll;
  border-radius: 0px 0px 20px 20px;
}

.PageSubtitle {
  text-align: center;
  margin: 0;
}

#LandingPageName {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
}

#Socials {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

#Bio {
  text-align: left;
  width: 40%;
  margin-left: 0;
}

#TechHeader {
  margin-bottom: 0;
  text-align: center;
}

#Technologies {
  width: 40%;
}

#TechnologiesLists {
  display: flex;
  justify-content: center;
  gap: 10%;
}

#TechnologiesLists ul {
  margin-top: 0;
  padding-left: 0;
}

#TechListTitle {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  text-decoration: underline;
}

#LandingPageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

#About {
  background-color: #9259b4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

@media (max-width: 1400px) {
  #About {
    margin-top: 5%;
    flex-direction: column;
  }

  #Bio {
    text-align: center;
    width: 80%;
  }
}

.Dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 175px;
  border-radius: 20px;
}

.Dropdown a {
  text-decoration: none;
  color: black;
  padding: 2%;
  padding-left: 10%;
}

.Dropdown a:hover {
  background-color: #9259b4;
  border-radius: 20px;
  color: white;
}

.BackButton a{
  color: white;
  text-decoration: none;
  background-color: #9259b4;
  padding: 15px;
  border-radius: 25px;
}

.BackButton a:hover{
  background-color: #ce7eff;
}

.SmallContent {
  display: grid;
  place-items: center;
  height: 100%;
}

.SmallContent .PageTitle {
  margin-top: 0;
}