#root {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("/PortfoiloBackground.png");
  background-attachment: fixed;
  display: flex;
}

p {
  margin-left: 15px;
  font-size: 22px;
}

#miniWebContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 80%;
  height: 70%;
  border: solid;
  border-color: #1c1c20;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: scroll;
  border-radius: 0px 0px 20px 20px;
}

#Location {
  text-align: center;
  margin: 0;
}

#LandingPageName {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
}

#Socials {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

#Bio {
  text-align: left;
  width: 40%;
  margin-left: 0;
}

#TechHeader {
  margin-bottom: 0;
  text-align: center;
}

#Technologies {
  width: 40%;
}

#TechnologiesLists {
  display: flex;
  justify-content: center;
  gap: 10%;
}

#TechnologiesLists ul {
  margin-top: 0;
  padding-left: 0;
}

#TechListTitle {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  text-decoration: underline;
}

#LandingPageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

#About {
  background-color: #9259b4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
