#nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    gap: 2rem;
    font-size: 1.5rem;
    padding-right: 2%;
    background-color: #1c1c20;
    width: 80%;
    height: 15%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -285%);
    border-radius: 20px 20px 0px 0px;
}

#nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

#navlinks {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
}

#nav li:hover {
    background-color: #985bba;
}

#navlogo {
    width: 100px;
}

#nav h1 {
    font-size: 2rem;
    color: #9259b4;
}

#nav form {
    height: 100%;
}

#nav button {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    font-size: 1.5rem;
    background-color: #1c1c20;
    border: none;
}

#nav button:hover {
    background-color: #985bba;
}