.Links {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.PaginationShowing {
    width: fit-content;
}

.Pages {
    background-color: #9259b4;
    padding: 5px;
    border-radius: 12px;
}

.Arrow button {
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
    text-align: center;
    margin: 0;
    background-color: #9259b4;
    padding: 10px;
    border-radius: 12px;
}

.Arrow button:disabled {
    background-color: #663e7e;
}

.Arrow button:hover {
    background-color: #ce7eff;
}

.Arrow button:hover:disabled {
    background-color: #663e7e;
}