#PageTitle {
    text-align: center;
    margin-top: 1%;
    margin-left: 14%;
    font-size: 2.5rem;
    color: white;
}

#PostList {
    width: 100%;
    margin: 0;
    padding: 0;
}

.Post {
    color: white;
    text-align: center;
    width: 43%;
    height: 30rem;
    margin: 3%;
    margin-bottom: 3%;
    margin-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
    background-color: #9259b4;
    border-radius: 25px;
}

.Post:hover {
    background-color: #ce7eff;
}

.Post a {
    text-decoration: none;
    color: white;
}

#SubscribeButton {
    background-color: #9259b4;
    border-radius: 25px;
    width: fit-content;
    padding: 1%;
    margin: 0;
}

#SubscribeButton:hover {
    background-color: #ce7eff;
}

#BlogTitleBar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}

#PostCategory button {
    border: none;
    color: white;
    background-color: #9259b4;
    border-radius: 25px;
    padding: 15px;
    font-size: 22px;
}

#PostCategory button:hover {
    background-color: #ce7eff;
}

#PostFilters {
    display: flex;
    flex-direction: row;
}

#PostSearch input {
    font-size: 22px;
    background-color: #9259b4;
    border: none;
    border-radius: 25px;
    padding: 15px;
    color: white;
}