#PageTitle {
    text-align: center;
    margin-top: 1%;
    font-size: 2.5rem;
    color: white;
}

#PostList {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 32rem);
    justify-items: center;
}

.Post {
    color: white;
    text-align: center;
    width: 95%;
    height: 30rem;
    padding-bottom: 1%;
    display: inline-block;
    background-color: #9259b4;
    border-radius: 25px;
}

.Post:hover {
    background-color: #ce7eff;
}

.Post a {
    text-decoration: none;
    color: white;
}

#SubscribeButton {
    background-color: #9259b4;
    border-radius: 25px;
    width: fit-content;
    padding: 1%;
    margin: 0;
}

#SubscribeButton:hover {
    background-color: #ce7eff;
}

#BlogTitleBar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 1%;
}

#PostCategory button {
    border: none;
    color: white;
    background-color: #9259b4;
    border-radius: 25px;
    padding: 15px;
    font-size: 22px;
    width: 175px;
}

#PostCategory button:hover {
    background-color: #ce7eff;
}

#PostFilters {
    display: flex;
    flex-direction: row;
}

#PostSearch input {
    font-size: 22px;
    background-color: #9259b4;
    border: none;
    border-radius: 25px;
    padding: 15px;
    color: white;
    width: 335px;
}

.PostTitle {
    color: red;
}

.Comment {
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #9259b4;
    border-radius: 25px;
    width: 60%;
    padding: 1%;
}

.Comment header {
    margin-left: 15px;
}

.CommentTime {
    font-size: 16px;
    margin: 0;
}

.CommentContents {
    font-size: 16px;
}

.CommentAuthor {
    margin: 0;
}