#PageTitle {
    text-align: center;
    margin: 1%;
    font-size: 2.5rem;
    color: #9259b4;
}

#PostList {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

#Post {
    color: white;
    text-align: center;
    width: 44%;
    margin: 3%;
    margin-bottom: 3%;
    margin-top: 1%;
    padding-bottom: 1%;
    display: inline-block;
    background-color: #9259b4;
    border-radius: 25px;
}

#Post:hover {
    background-color: #ce7eff;
}