#PostList {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, fit-content);
    justify-items: center;
}

.Post {
    color: white;
    text-align: center;
    width: 95%;
    height: fit-content;
    display: inline-block;
    margin-top: 15px;
}

.Post h2 {
    margin-top: 0;
}

.Post:hover {
    background-color: #ce7eff;
}

.Post a {
    text-decoration: none;
    color: white;
}

.Post img {
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.PostInfo {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.PostInfo p {
    margin: 0;
}

#SubscribeButton {
    width: fit-content;
    margin: 0;
    text-align: center;
}

#SubscribeButton a {
    text-decoration: none;
    color: white;
}

#SubscribeButton:hover {
    background-color: #ce7eff;
}

#BlogTitleBar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

#PostCategory button {
    border: none;
    color: white;
    font-size: 22px;
    width: 175px;
}

#PostCategory button:hover {
    background-color: #ce7eff;
}

#PostFilters {
    display: flex;
    flex-direction: row;
}

#PostSearch input {
    font-size: 22px;
    border: none;
    color: white;
}

.PostBody {
    margin-left: 50px;
    margin-right: 50px;
}

.Comment {
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 25px;
    width: 60%;
}

.Comment img {
    border-radius: 15px;
}

.Comment header {
    margin-left: 15px;
}

.CommentTime {
    font-size: 16px;
    margin: 0;
}

.CommentContents {
    font-size: 16px;
}

.CommentAuthor {
    margin: 0;
}

.CreateComment {
    flex-direction: column;
}

.CreateComment div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CreateComment textarea {
    width: 100%;
    border-radius: 15px;
    font-size: 16px;
    resize: none;
    padding: 15px;
    border-color: #663e7e;
}

.Comment a {
    color: white;
}

.CreateComment button {
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 15px;
    font-size: 22px;
    margin-top: 15px;
    width: 100%;
}

#newsletter {
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 22px;
}

#newsletter input {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 22px;
    border-radius: 15px;
    padding: 10px;
    color: white;
    width: 100%;
}

#newsletter div {
    display: flex;
    align-items: center;
    gap: 15px;
}

#newsletter h2 {
    text-align: center;
    margin-top: 0;
}

#CreatePostBody {
    margin-top: 15px;
}

#CreatePostBody textarea {
    width: 100%;
    border-radius: 15px;
    font-size: 22px;
    resize: none;
    padding: 10px;
    border-color: #663e7e;
}

.FeaturedPost {
}